<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home{% if page.current == 'home' %} nav-current{% endif %}" role="presentation">
            <a href="{{ '/' | relative_url }}">Home</a>
        </li>
        <li class="nav-about{% if page.current == 'about' %} nav-current{% endif %}" role="presentation">
            <a href="{{ '/about/' | relative_url }}">About</a>
        </li>
        <li class="nav-experience{% if page.current == 'experience' %} nav-current{% endif %}" role="presentation">
            <a href="{{ '/experience/' | relative_url }}">Experience</a>
        </li>
        <li class="nav-projects{% if page.current == 'projects' %} nav-current{% endif %}" role="presentation">
            <a href="{{ '/projects/' | relative_url }}">Projects</a>
        </li>
        <li class="nav-writing{% if page.current == 'writing' %} nav-current{% endif %}" role="presentation">
            <a href="{{ '/technical_writing/' | relative_url }}">Writing</a>
        </li>
        <li class="nav-services{% if page.current == 'services' %} nav-current{% endif %}" role="presentation">
            <a href="{{ '/services/' | relative_url }}">Services</a>
        </li>
    </ul>
</div>
<span class="nav-cover"></span>